
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.details-header {
    background: rgb(255, 94, 0);
    color: white;
    padding: 30px 0;
    text-align: center;
}

.details-header h1 {
    margin: 0;
    font-size: 2.5em;
}

.details-header p {
    margin: 10px 0 20px;
}

.back-button {
    display: inline-block;
    text-decoration: none;
    background: white;
    color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.back-button:hover {
    background: #ddd;
}

.details-main {
    padding: 20px 0;
}

.hotel-details-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.hotel-details-card:hover {
    transform: translateY(-5px);
}

.hotel-details-card h2 {
    color: #444;
    margin-bottom: 15px;
    margin-left: 380px;
    font-size: 34px
}
.hotel-details-card p{
    font-size: 28px;
}
.hotel-details-card img {
    width: 70%;
    height: 500px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 170px;
}

.hotel-details-card ul {
    margin: 10px 0;
    padding: 0 20px;
    list-style: disc;
}

.hotel-details-card ul li {
    margin: 5px 0;
    font-size: 25px;
}


.details-footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9em;
}

.details-footer p {
    margin: 0;
}
